{% include 'header.html' %}
<div class="container mt-4">
      <!-- Basic Bootstrap Table -->
      <div class="card">
            <div class="d-flex flex-row-reverse mb-2 mt-2">
                  <div class="p-2">
                        <button id="btnTambahPresensi" type="button" class="btn btn-primary" data-bs-toggle="modal"
                              data-bs-target="#modalCenter">
                              Add Data <i class="bx bx-plus"></i>
                        </button>
                  </div>
            </div>
            <!-- Form Start -->
            <div class="col-xxl">
                  <div id="presensiForm" class="card mb-4" style="display: none;">
                        <div class="card-header d-flex align-items-center justify-content-between">
                              <h5 class="mb-0">Tambah Data Class</h5>
                        </div>
                        <div class="card-body">
                              <form>
                                    <div class="row mb-1">
                                          <label class="col-sm-2 col-form-label" for="basic-default-email">Mentor
                                                LearningX</label>
                                          <div class="col-sm-10">
                                                <input class="form-control mb-4" type="text" id="mentor" name="mentor"
                                                      required>
                                          </div>
                                    </div>
                                    <div class="row mb-1">
                                          <label class="col-sm-2 col-form-label"
                                                for="basic-default-email">Sekolah</label>
                                          <div class="col-sm-10">
                                                <select class="form-select mb-4" name="sekolah" id="sekolah">
                                                      <option disabled>Choose Institute:</option>
                                                      {% for item in data_institute %}
                                                      <option value="{{ item.institute }}">{{ item.institute }}</option>
                                                      {% endfor %}
                                                </select>
                                          </div>
                                    </div>
                                    <div class="row mb-1">
                                          <label class="col-sm-2 col-form-label" for="basic-default-email">Course
                                                Title</label>
                                          <div class="col-sm-10">
                                                <select class="form-select mb-4" name="program" id="program">
                                                      <option disabled>Choose Course:</option>
                                                      <option value="WR102: Web Development Basic">WR102: Web
                                                            Development Basic</option>
                                                      <option value="WR103: Web Development Intermediate">WR103: Web
                                                            Development Intermediate</option>
                                                </select>
                                          </div>
                                    </div>
                                    <div class="row justify-content-end">
                                          <div class="col-sm-10">
                                                <button onclick="tambah_data()" type="submit"
                                                      class="btn btn-primary">Submit</button>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
            <!-- Form End -->
            <div class="table-responsive text-nowrap">
                  <table class="table">
                        <thead>
                              <tr>
                                    <th>Institute Name</th>
                                    <th>Course Title</th>
                                    <th>Mentor</th>
                              </tr>
                        </thead>
                        <tbody>
                              {% if mentor_list %}
                              {% for item in mentor_list %}
                              <tr>
                                    <td>
                                          {% for sekolah in item['sekolah'] %}
                                          {% if 'SM' in sekolah %}
                                          {{ sekolah }}<br>
                                          {% else %}
                                          {{ sekolah }}
                                          {% endif %}
                                          {% endfor %}
                                    </td>
                                    <td>{{ item['_id']['program'] }}</td>
                                    <td>{{ item['_id']['mentor'] }}</td>
                              </tr>
                              {% endfor %}
                              {% else %}
                              <tr>
                                    <td colspan="3" class="text-center">Tidak ada data.
                                    </td>
                              </tr>
                              {% endif %}

                        </tbody>
                  </table>
            </div>
      </div>
</div>
</div>

<!-- Content -->
{% include 'footer.html' %}